.ui-panel {
    height: 100vh;
    width: 35vw; /*not 30 cus of scrollbar*/
    float: left;
}
.character-sheet {
    padding: 1em;
}
.stage {
    width: 64vw;
    height: 100vh; 
    overflow: hidden;
    float: left;
    position: relative;
}

.ui {
    background: white;
    width: 400px;
    border: 1px solid red;
}