.ui-widget {
    z-index:99999;
    background:white;
    color: black;
    border:5px solid black;
    width: 600px;

    text-align:center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    /* margin: auto; */
    padding-bottom:2em;

}