.log-wrapper {
    height: 100vh;
    width: 28vw; /*not 30 cus of scrollbar*/
    float: left;
}
.app {
    width: 70vw;
    height: 100vh; 
    overflow: hidden;
    float: left;
    position: relative;
}

.ui {
    background: white;
    width: 400px;
    border: 1px solid red;
}